<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Have an account?</p>
    <a href="./users/login">Login</a>
    <p>Or <br>
    <a href="./users/create">Create an Account</a>
    </p>
  </body>
</html>
